<!--</div>-->
<div class="jumbotron" style="padding-left:50px;position: relative;background-color:#008e59;color:#fff">
	<a data-type="0" biz-itemid="null" data-tmpl="192x40" data-tmplid="625" data-rd="2" data-style="1" data-border="1" href="https://s.click.taobao.com/M3ISrTw"><butten>鼠标垫</butten></a>
</div>
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
	<a href="#top" title="回到顶部">
		<span class="am-gotop-title">回到顶部</span>
		<i class="am-gotop-icon am-icon-chevron-up"></i>
	</a>
</div>


<script src="js/amazeui.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<!--<script src="js/jquery-starfield.js"></script>-->
<script src="js/style.js"></script>
</body>
</html>