</div>
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
	<a href="#top" title="回到顶部">
		<span class="am-gotop-title">回到顶部</span>
		<i class="am-gotop-icon am-icon-chevron-up"></i>
	</a>
</div>
<script src="js/amazeui.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery-starfield.js"></script>
	<script>
        $('.htmleaf-container').starfield({
            starDensity: 2.0,
            mouseScale: 0.5,
            seedMovement: true
        });
	</script>
</body>
</html>