<!--</div>-->
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
	<a href="#top" title="回到顶部">
		<span class="am-gotop-title">回到顶部</span>
		<i class="am-gotop-icon am-icon-chevron-up"></i>
	</a>
</div>

<audio autoplay="autoplay" loop="loop" controls="controls"><source src="../muisc/xkfy.mp3"></audio>
<script src="js/amazeui.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<!--<script src="js/jquery-starfield.js"></script>-->
<script src="js/style.js"></script>
<script type="text/javascript" src="//js.users.51.la/19771097.js"></script>
</body>
</html>