<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="author" content="Q哥">
	<meta name="keywords" content="关键词1,关键词2">
	<meta name="description" content="描述语句">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/favicon">
	<link rel="stylesheet" type="text/css" href="css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="css/default.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/amazeui.min.css">

	<script src="js/jquery.min.js"></script>
	<script src="https://unpkg.com/vue"></script>
	<title>{{ page.title }}</title>
</head>
<body style="width:100%;height:100%;margin:0;">
<div class="htmleaf-container">
	<nav class="navbar navbar-default" style="margin: 0px;">
		<div class="navbar-header"><button class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
			<i class="icon-bar"></i>
			<i class="icon-bar"></i>
			<i class="icon-bar"></i>
		</button><a href="#" class="navbar-brand"><img src="/favicon.ico"  height="100%" alt=""></a></div>
		<div id="navbar1" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">首页</a></li>
				<li><a href="/technology.html">技术那些事</a></li>
				<li><a href="/scenery.html">哪些风景</a></li>
				<li><a href="/aboutme.html">关于我</a></li>
			</ul>
		</div>
	</nav>