<ul>
    <li style="list-style: none"><a href="https://packagist.org/" target="_blank"><i>#packagist</i></a></li>
    <li style="list-style: none"><a href="http://www.ioio.pw/" target="_blank"><i class="am-icon-github am-icon-fw"></i> 满江风雪—Blog</a></li>
    <li style="list-style: none"><a href="https://segmentfault.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> #segmentfault</a></li>
    <li style="list-style: none"><a href="https://sec-wiki.com" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> #sec-wiki</a></li>
     <li style="list-style: none"><a href="https://www.liaoxuefeng.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 廖雪峰官方网站</a></li>
     <li style="list-style: none"><a href="http://www.laruence.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 风雪之隅</a></li>
     <li style="list-style: none"><a href="http://lib.csdn.net" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 知识库</a></li>
     <li style="list-style: none"><a href="http://doc.celerstar.com/website/soft/php-ml/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> PHP-ML 机器学习</a></li>
     <li style="list-style: none"><a href="http://www.anquanquan.info/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 安全圈-INFO</a></li>
</ul>