<a href="#" class="list-group-item disabled">工具链接</a>
<li class="list-group-item">
    <ul>
        <li style="list-style: none"><a href="https://packagist.org/" target="_blank"><i><i class="am-icon-external-link am-icon-fw"></i> #packagist</i></a></li>
        <li style="list-style: none"><a href="http://wiki.jikexueyuan.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i>
                WiKi</a></li>
        <li style="list-style: none"><a href="https://www.gitbook.com/" target="_blank"><i><i class="am-icon-github am-icon-fw"></i> #GitBook</i></a></li>
        <li style="list-style: none"><a href="./manual.html" target="_blank"><i><i class="am-icon-github am-icon-fw"></i> 开发手册</i></a></li>
        <li style="list-style: none"><a href="http://unbug.github.io/codelf/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> #变量命名</a></li>
        <li style="list-style: none"><a href="http://zhongguose.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 中国色</a></li>
        <li style="list-style: none"><a href="http://mirrors.sohu.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 资源站</a></li>
        <li style="list-style: none"><a href="http://code.giffox.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 程序员导航</a></li>
        <li style="list-style: none"><a href="https://soft.zee.kim/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> Mac常用软件</a></li>
        <li style="list-style: none"><a href="https://www.ctftools.com/down/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> CTFtools</a></li>
        <li style="list-style: none"><a href="http://www.urlgot.com/zh_CN/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> urlgot</a></li>
        <li style="list-style: none"><a href="https://readthedocs.org" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> ReadDoc</a></li>
        <li style="list-style: none"><a href="https://icomoon.io/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> Icomoon</a></li>
        
    </ul>
</li>
<a href="#" class="list-group-item disabled">论坛咨询</a>
<li class="list-group-item">
    <ul>
        <li style="list-style: none"><a href="https://segmentfault.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> #segmentfault</a></li>
        <li style="list-style: none"><a href="https://sec-wiki.com" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> #sec-wiki</a></li>
        <li style="list-style: none"><a href="https://chat.stackoverflow.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> #stackoverflow</a></li>
         <li style="list-style: none"><a href="http://lib.csdn.net" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 知识库</a></li>
         <li style="list-style: none"><a href="http://doc.celerstar.com/website/soft/php-ml/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> PHP-ML 机器学习</a></li>
         <li style="list-style: none"><a href="http://www.phpunit.cn/manual/current/zh_cn/index.html" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> PHPUnit 单元测试</a></li>
         <li style="list-style: none"><a href="http://www.anquanquan.info/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 安全圈-INFO</a></li>
         <li style="list-style: none"><a href="http://tf.greatgeekgrace.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> TensorFlow技术社区</a></li>
         <li style="list-style: none"><a href="http://www.hankcs.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 码农场</a></li>
         <li style="list-style: none"><a href="http://tool.phpchina.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> PHPChina</a></li>
         <li style="list-style: none"><a href="http://linux.linuxidc.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> Linux公社</a></li>
         <li style="list-style: none"><a href="https://coding.net/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 码市</a></li>
         <li style="list-style: none"><a href="http://www.layui.com" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> LayUI</a></li>
         <li style="list-style: none"><a href="http://blog.51cto.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 51CTO</a></li>
         <li style="list-style: none"><a href="http://www.geekfans.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 极客迷</a></li>
         <li style="list-style: none"><a href="https://www.v2ex.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> V2EX</a></li>
         <li style="list-style: none"><a href="https://aotu.io" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 凹凸实验室</a></li>
         <li style="list-style: none"><a href="http://bbs.csdn.net/home" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> CSDN</a></li>
         <li style="list-style: none"><a href="http://hao.shejidaren.com" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 设计导航</a></li>
         <li style="list-style: none"><a href="http://dh.woshipm.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 阿猫阿狗导航</a></li>
         <li style="list-style: none"><a href="https://www.chromefor.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 浏览器插件中心</a></li>
         <li style="list-style: none"><a href="http://www.h-ui.net/site.shtml/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 前端导航</a></li>
         <li style="list-style: none"><a href="http://1nami.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 纳米导航</a></li>
         <li style="list-style: none"><a href="https://www.shentoushi.top/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 渗透狮导航</a></li>
         <li style="list-style: none"><a href="http://netsecurity.51cto.com/col/512/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 51安全频道</a></li>
         <li style="list-style: none"><a href="https://www.ichunqiu.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> i春秋</a></li>
         <li style="list-style: none"><a href="https://www.kanxue.com" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 看雪</a></li>
         <li style="list-style: none"><a href="https://www.tutorialspoint.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> TUTO</a></li>
         <li style="list-style: none"><a href="http://www.ai-start.com/dl2017/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 深度学习笔记</a></li>
         <li style="list-style: none"><a href="https://www.codecasts.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> codecasts</a></li>
         <li style="list-style: none"><a href="http://wiki.jikexueyuan.com/project/bootstrap4/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> bootstrap4</a></li>
    </ul>
</li>
<a href="#" class="list-group-item disabled">博客链接</a>
<li class="list-group-item">
        <ul>
                <li style="list-style: none"><a href="https://www.ioio.pw/" target="_blank"><i class="am-icon-github am-icon-fw"></i> 满江风雪</a></li>
                <li style="list-style: none"><a href="https://juejin.im/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 掘金</a></li>
                <li style="list-style: none"><a href="https://www.liaoxuefeng.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 廖雪峰官方网站</a></li>
                <li style="list-style: none"><a href="http://www.ruanyifeng.com/blog/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 阮一峰的网络日志</a></li>
                <li style="list-style: none"><a href="http://www.laruence.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 风雪之隅 </a></li>
                <li style="list-style: none"><a href="http://rango.swoole.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 韩天峰</a></li>
                <li style="list-style: none"><a href="http://zyan.cc/tags/php/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 张宴的博客</a></li>
                <li style="list-style: none"><a href="http://overtrue.me/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 安正超</a></li>
                <li style="list-style: none"><a href="https://baijunyao.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 白俊遥</a></li>
                <li style="list-style: none"><a href="https://morvanzhou.github.io/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 莫凡Python</a></li>
                <li style="list-style: none"><a href="http://0x1.im" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> Scholer's Blog</a></li>
                <li style="list-style: none"><a href="https://frantic1048.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> Jiahao Guo</a></li>
                <li style="list-style: none"><a href="http://www.4wei.cn/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 尘缘的博客</a></li>
                <li style="list-style: none"><a href="https://huoding.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 火丁笔记</a></li>
                <li style="list-style: none"><a href="http://www.neatstudio.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 膘叔</a></li>
                <li style="list-style: none"><a href="http://www.bo56.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 信海龙View</a></li>
                <li style="list-style: none"><a href="https://mengkang.net" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 周梦康</a></li>
                <li style="list-style: none"><a href="https://cuiqingcai.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 崔庆才</a></li>
                <li style="list-style: none"><a href="http://www.xiseshell.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 黑帽SEO</a></li>
                <li style="list-style: none"><a href="http://evilcos.me/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 余大大的博客</a></li>
                <li style="list-style: none"><a href="http://nikic.github.io/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 尼基奇</a></li>
                <li style="list-style: none"><a href="http://cuijiahua.com/"  target="_blank"><i class="am-icon-external-link am-icon-fw"></i> Jack Cui</a></li>
        </ul>
</li>
<a href="#" class="list-group-item disabled">音乐</a>
<li class="list-group-item">
    <ul>
            <li style="list-style: none"><a href="http://www.nanjinglizhi.cn/" target="_blank"><i class="am-icon-github am-icon-fw"></i> 李志</a></li>
    </ul>
</li>

