<ul>
    <li style="list-style: none"><a href="https://packagist.org/" target="_blank"><i>#packagist</i></a></li>
    <li style="list-style: none"><a href="http://www.ioio.pw/" target="_blank"><i class="am-icon-github am-icon-fw"></i> 满江风雪—Blog</a></li>
    <li style="list-style: none"><a href="https://segmentfault.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> #segmentfault</a></li>
    <li style="list-style: none"><a href="https://sec-wiki.com" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> #sec-wiki</a></li>
     <li style="list-style: none"><a href="https://www.liaoxuefeng.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 廖雪峰官方网站</a></li>
     <li style="list-style: none"><a href="http://www.ruanyifeng.com/blog/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 阮一峰的网络日志</a></li>
     <li style="list-style: none"><a href="http://www.laruence.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 风雪之隅 </a></li>
     <li style="list-style: none"><a href="http://rango.swoole.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 韩天峰</a></li>
     <li style="list-style: none"><a href="http://overtrue.me/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 安正超</a></li>
     <li style="list-style: none"><a href="https://morvanzhou.github.io/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i>莫凡Python</a></li>
     <li style="list-style: none"><a href="http://lib.csdn.net" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 知识库</a></li>
     <li style="list-style: none"><a href="http://doc.celerstar.com/website/soft/php-ml/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> PHP-ML 机器学习</a></li>
 <li style="list-style: none"><a href="http://www.phpunit.cn/manual/current/zh_cn/index.html" target="_blank"><i class="am-icon-external-link am-icon-fw"></i>PHPUnit 单元测试</a></li>
     <li style="list-style: none"><a href="http://www.anquanquan.info/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> 安全圈-INFO</a></li>
     <li style="list-style: none"><a href="http://tf.greatgeekgrace.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i> TensorFlow技术社区</a></li>
     <li style="list-style: none"><a href="http://www.hankcs.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i>码农场</a></li>
     <li style="list-style: none"><a href="http://tool.phpchina.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i>PHPChina</a></li>
     <li style="list-style: none"><a href="http://www.qdaily.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i>好奇心</a></li>
     <li style="list-style: none"><a href="http://linux.linuxidc.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i>Linux公社</a></li>
     <li style="list-style: none"><a href="https://coding.net/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i>码市</a></li>
     <li style="list-style: none"><a href="http://www.layui.com" target="_blank"><i class="am-icon-external-link am-icon-fw"></i>LayUI</a></li>
     <li style="list-style: none"><a href="http://blog.51cto.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i>51CTO</a></li>
     <li style="list-style: none"><a href="https://www.glohbe.de/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i>Hansrouge-Blog</a></li>
     <li style="list-style: none"><a href="http://zhongguose.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i>中国色</a></li>
     <li style="list-style: none"><a href="http://720yun.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i>720云</a></li>
     <li style="list-style: none"><a href="http://mirrors.sohu.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i>资源站</a></li>
     <li style="list-style: none"><a href="http://www.geekfans.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i>极客迷</a></li>
     <li style="list-style: none"><a href="http://code.giffox.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i>程序员导航</a></li>
     <li style="list-style: none"><a href="https://www.v2ex.com/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i>V2EX</a></li>
     <li style="list-style: none"><a href="https://soft.zee.kim/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i>Mac常用软件</a></li>
     <li style="list-style: none"><a href="https://navisec.it/" target="_blank"><i class="am-icon-external-link am-icon-fw"></i>纳威安全导航</a></li>

</ul>
