<li class="am-comment">
    <article class="am-comment">
        <a href="../aboutme.html">
            <img src="../images/header.png" alt="" class="am-comment-avatar" width="20" height="20"/>
        </a>
        <div class="am-comment-main">
            <header class="am-comment-hd">
                <!--<h3 class="am-comment-title">评论标题</h3>-->
                <div class="am-comment-meta">
                    <a href="../aboutme.html" class="am-comment-author">南丞</a>
                    <time title="2018年1月2日">2018-1-2 12:30</time>
                    <div class="am-comment-bd" style="white-space:normal;padding-left:0px;">
                        <span style="color: red">感谢</span> <a href="http://www.ioio.pw/" style="color:blue"> 满江风雪 </a>大虾于2018年1月2日赞助0.04元！
                    </div>
                </div>
            </header>
        </div>
    </article>
</li>
<li class="am-comment">
    <article class="am-comment">
        <a href="../aboutme.html">
            <img src="../images/header.png" alt="" class="am-comment-avatar" width="20" height="20"/>
        </a>
        <div class="am-comment-main">
            <header class="am-comment-hd">
                <!--<h3 class="am-comment-title">评论标题</h3>-->
                <div class="am-comment-meta">
                    <a href="../aboutme.html" class="am-comment-author">南丞</a>
                    <time title="2018年1月2日">2018-1-2 12:30</time>
                    <div class="am-comment-bd" style="white-space:normal;padding-left:0px;">
                        <span style="color: red">感谢</span>一如年少模样 大虾于2018年1月2日赞助1元！
                    </div>
                </div>
            </header>
        </div>
    </article>
</li>


