---
 layout: default
---
<div class="container">
	<br>
	<div class="panel panel-default" style="text-align: left;">
	  <div class="panel-heading" style="padding:15px;">
	    <h1 class="panel-title" style="font-size:30px;color:#000">{{page.title}}</h1>
	    <p>{% if page.author %}作者：{{page.author}}{% endif %} {% if page.author %}来源：<a href="{{page.from.link}}">{{page.from.name}}</a>{% endif %} 时间：{{page.date| date:"%Y-%m-%d %H:%M"}} {% if page.read_count %}阅读：{{page.read_count}}{% endif %}</p>
	  </div>
	  <div class="panel-body">
	    {{ content }}
		</div>
		 <div class="panel-footer">Panel footer</div>
	</div>
</div>
